#inp__1{
    width: 200px;
    height: 40px;
    background-color: white;
    color: black;
    text-align: center;
    cursor: pointer;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-left: 30%;
    border: 1px solid rgb(0, 51, 255);
    border-radius: 10px;
    font-size: 18px;

}
#inp__2{
    width: 200px;
    height: 40px;
    background-color: white;
    color: black;
    text-align: center;
    cursor: pointer;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-left: 30%;
    border: 1px solid blue;
    border-radius: 10px;
    font-size: 18px;

    
}
.btn__1{
    width: 100px;
    height: 40px;
    background-color: blue;
    color: white;
    margin-left: 30%;
    border-radius: 10px;
    border: none;
    text-align: center;
    font-size: 18px;

}

.btn__2{
    width: 100px;
    height: 40px;
    background-color: red;
    color: white;
    border-radius: 10px;
    border: none;
    text-align: center;
    font-size: 18px;
}
.text{
    width: 100%;
    height: auto;
    font-size: 30px;
    flex-wrap: wrap;
    border-bottom: 1px solid black;

}
body{
    overflow: hidden;
}